@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}

html,
body,
#__next,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
